.work{
    width: 25%;
    border-bottom: 0.5px solid rgb(172, 169, 169);
    margin-top:100px;
}

.work img{
    width: 100%;
    height: 200px;
    box-shadow: 0 0 15px rgb(59, 59, 59);
    margin-bottom: 10px;
}

.work p{
    font-weight: 300;
    opacity: 0.8;
    text-align: center;
    margin-left: 15px;
}
.work h1{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
}
@media (max-width: 800px) {
    .work{
        width: 100%;
    }
  }